<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
table.GeneratedTable {
  width: 50rem;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #a4a4a2;
  border-style: inset;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #a4a4a2;
  border-style: inset;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ff7b00;
}
</style>

    </head>
<body>
    <p>Cordial saludo Apreciado invitado, </p>
    <p>Dando alcance a nuestra conversación a continuación envió confirmación de la reposición de su Curso De Baile como se relaciona a continuación:</p>

    <div id="content">{% block content %}{% endblock %}</div>
    <p>Por favor tener en cuenta que los siguientes aspectos:</p>

    <ol>
        <li>Este servicio corresponde a la reposición de las clases pendientes del año 2020.</li>
        <li>No se realizará reposición ni devolución de las sesiones agendadas en ninguna circunstancia (sin soporte médico o laboral), la inasistencia será tomada como falla.</li>
        <li>Cumple con todos los protocolos de bioseguridad establecidos para el ingreso a la sede: https://www.tiendacompensar.com/sedes</p></li>
    </ol>
    <br>
    <p>Cordialmente, </p>
    <p>Gustavo De Armas Núñez </p>

    <ul style="list-style-type:none;">
         <li>__________________________________________________________</li>
         <li>Pedagogo Especializado en Escuelas Deportivas – Motricidad</li>
         <li>Recreación, Educación y Deporte</li>
         <li>COMPENSAR</li>
         <li>4280666</li>
         <li>gadea@compensar.com</li>
    </ul>









</body>
</html>
